.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  top:0.5%;
  height: 3%;
  position:absolute;
  right:1%;
}

.credit{
  position:absolute;
 right:3%;
 top:0.9%;
}

.App-header {
  background-color: #222;
  height: 16.677%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@media (min-width:300px) and (max-width:750px){
  .credit{ position:absolute;
             font-size:10px;
                 right:8%}
   .App-title{
     font-size:1.3em;
   }
}

@media (min-width:750px) and (max-width:1400px){
  .credit{ position:absolute;
             font-size:15px;
                 right:7%}
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
